<!--header头部-->
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-6 ">
                    <p><i class="fa fa-phone"> </i> 深圳兴泰办公家私回收</p>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-6 text-right">
                    <form class="navbar-form text-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="橱柜">
                            <i class="fa fa-search"></i>
                        </div>
                        <button type="submit" href="products.html" class="btn btn-default">搜索</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="#">
                    <img class="logo" src="{:personal()['icon']}" alt="{:personal()['alt']}"><span style="font-size: 16px">深圳兴泰办公家私回收</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <?php $request = think\Request::instance();?>
                    <?php foreach(navigation() as $key=>$val){ ?>
                        <li><a {if condition="$request->action() == $key"}class="active"{/if} href="{$key}">{$val}</a></li>
                    <?php } ?>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>