{include file='public/head' /}
{include file='public/navigation' /}
<link rel="stylesheet" href="<?php echo config('domain');?>/__CSS__/category.css">
<div class="container-sm category-header-wrap">
  <div class="category-header-banner">
    <div class="img" style="background-image: url('{:config("domain").$carousel_find.url}')">
      <div class="content">
        <h2>{$carousel_find.title}</h2>
        <p>{$carousel_find.alt}</p>
      </div>
      <div class="mask"></div>
    </div>
  </div>
</div>
<div class="container-sm box">
  <div class="main">
    <div class="main-wrap">
      <div class="content-box">
        <div class="piano-list">
          <div class="content-header">
            <h2><i class="fa fa-music red"></i>{$navigation}</h2>
          </div>
          <ul class="music-list clearfix">

            {volist name="article_find" id="itme"}
            <li>
              <div class="u-cover">
                <img src="{:config('domain').$itme.url}">
                <a title="{$itme.title}" href="{:url('details',array('id'=>$itme.id))}" class="msk"></a>
              </div>
              <p class="dec">
                <a title="{$itme.title}" href="{:url('details',array('id'=>$itme.id))}">{$itme.title}</a>
              </p>
              <div class="author">{:date('Y-m-d',$itme.edit_time)}</div>
            </li>
            {/volist}


          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{include file='public/bottom' /}
