{include file='public/head' /}
{include file='public/head' /}
{include file='public/navigation' /}

<div class="container-sm player-wrap">
  <div id="music-player" class="aplayer"></div>
</div>
<div class="container-sm box">
  <div class="main">
    <div class="main-wrap">
      <div class="content-box article">
        <div class="title">
          <h2>{$article_find.title}</h2>
          <div class="info">
            <span class="author">{$article_find.alt}</span> / <span class="date">{:date('Y-m-d',$article_find.edit_time)}</span>
          </div>
        </div>
        <div class="content">
          <p>
            <img src="{:config('domain').$article_find.detail_map}">
          </p>
          {$article_find.content}
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <div class="right-module">
      <h4>{$classification[3]}</h4>
      <ul class="new-artist-songs">
        {volist name="latest" id="itmes"}
        <li class="artist-song">
          <div class="avatar">
            <img src="{:config('domain').$itmes.url}">
          </div>
          <div class="info">
            <h3>{$itmes.title}</h3>
            <p>{$itmes.alt} / <span>{$itmes.click}</span>次点击</p>
          </div>
          <a href="{:url('details',array('id'=>$itmes.id))}" title="{$itmes.title}" class="cover-link"></a>
        </li>
        {/volist}
      </ul>
    </div>
    <div class="right-module">
      <h4>{$classification[4]}</h4>
      <ul class="new-artist-songs">
        {volist name="hottest" id="itmes"}
        <li class="artist-song">
          <div class="avatar">
            <img src="{:config('domain').$itmes.url}">
          </div>
          <div class="info">
            <h3>{$itmes.title}</h3>
            <p>{$itmes.alt} / <span>{$itmes.click}</span>次点击</p>
          </div>
          <a href="{:url('details',array('id'=>$itmes.id))}" title="{$itmes.title}" class="cover-link"></a>
        </li>
        {/volist}
      </ul>
    </div>
  </div>
</div>

{include file='public/bottom' /}
