
{include file='public/head' /}
{include file='public/navigation' /}
{include file='public/carousel' /}


<!-- 主内容区域 -->
<div class="container-sm box">
    <!-- 主内容 -->
    <div class="main">
        <div class="main-wrap">
            <div class="content-box">
                <!-- 热门推荐 -->
                <div class="hot-recommand">
                    <div class="content-header">
                        <h2><i class="fa fa-trash-o red"></i>{$classification[1]}</h2>
                        <div class="tab">
                            {volist name="navigation" id="item" key="k"}
                                <a href="{:url('classlist',array('type'=>$k))}">{$item}</a>
                                {if $k!=count($navigation)}
                                    <span class="line">|</span>
                                {/if}
                            {/volist}
                        </div>
                        <!--<span class="more"><a href="#">更多</a></span>-->
                    </div>
                    <ul class="music-list clearfix">
                        {volist name="article_list" id="item"}
                                <li>
                                    <div class="u-cover">
                                        <img src="{:config('domain').$item.url}">
                                        <a title="{$item.alt}" href="{:url('details',array('id'=>$item.id))}" class="msk"></a>
                                    </div>
                                    <p class="dec">
                                        <a title="{$item.alt}" href="{:url('details',array('id'=>$item.id))}">{$item.title}</a>
                                    </p>
                                    <div class="author">{:date('Y-m-d',$item.edit_time)}</div>
                                </li>
                        {/volist}
                    </ul>
                </div>
                <!-- 分类榜单 -->
                <div class="category">
                    <div class="content-header">
                        <h2><i class="fa fa-trash-o red"></i>{$classification[2]}</h2>
                    </div>
                    <div class="row">
                        {volist name="navigation" id="item" key="k"}
                        <div class="category-music-list">
                            <div class="category-header">
                                <a href="{:url('classlist',array('type'=>$k))}">{$item}</a>
                            </div>
                            <ul>
                                {volist name="class_ification" id="items"}
                                    {if $items.type == $k}
                                    <li class="music-list-item">
                                        <div class="title">
                                            <div class="title_wrap">
                                                <span class="rank">●</span>
                                                <a href="{:url('details',array('id'=>$items.id))}" title="{$items.alt}">{$items.title}</a>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <span class="date">{:date('m-d',$items.edit_time)}</span>
                                            <span class="avatar"><img src="{$items.url}"></span>
                                        </div>
                                    </li>
                                    {/if}
                                {/volist}
                            </ul>
                        </div>
                        {/volist}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- 侧边栏 -->
    <div class="sidebar" style="min-height: 1094px">
        <div class="right-module">
            <h4>{$classification[3]}</h4>
            <ul class="new-artist-songs">
                {volist name="latest_recycling" id="items"}
                    <li class="artist-song">
                        <div class="avatar">
                            <img src="{:config('domain').$items.url}">
                        </div>
                        <div class="info">
                            <h3>{$items.title}</h3>
                            <p>{:date('Y-m-d',$items.edit_time)} / <span>{$items.click}</span>次点击</p>
                        </div>
                        <a href="{:url('details',array('id'=>$items.id))}" title="{$items.alt}" class="cover-link"></a>
                    </li>
                {/volist}
            </ul>
        </div>
        <div class="right-module">
            <h4>{$classification[4]}</h4>
            <ul class="new-artist-songs">
                {volist name="popular" id="items"}
                    <li class="artist-song">
                        <div class="avatar">
                            <img src="{:config('domain').$items.url}">
                        </div>
                        <div class="info">
                            <h3>{$items.title}</h3>
                            <p>{:date('Y-m-d',$items.edit_time)} <span>{$items.click}</span>次点击</p>
                        </div>
                        <a href="{:url('details',array('id'=>$items.id))}" title="{$items.alt}" class="cover-link"></a>
                    </li>
                {/volist}
            </ul>
        </div>
    </div>
</div>

{include file='public/bottom' /}