{include file='public_moblie/head' /}
{include file='public_moblie/navigation' /}
{include file='public_moblie/carousel' /}
<!--banner-->


<div class="container about">
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li class="about_p">
                    {:personal()['contact']}
                </li>

            </ul>
        </div>
        <a href="" class="col-md-6">
            <div id="dituContent"></div>
        </a>
    </div>
</div>



{include file='public_moblie/userinfo' /}
{include file='public_moblie/bottom' /}
