<!-- 轮播图 -->
<div class="container-sm slider-wrap">
    <div class="slider">
        <div class="slider-item-list"></div>
        <div class="slider-dots">
            <div class="slider-dots-wrap"></div>
        </div>
        <div class="slider-arrows">
            <div class="slider-arrows-wrap">
                <span class="slider-arrow slider-arrow-left" onclick="HBSlider.turn(-1)"></span>
                <span class="slider-arrow slider-arrow-right" onclick="HBSlider.turn(1)"></span>
            </div>
        </div>
    </div>
</div>