<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{:personal()['title']}</title>
    <link rel="icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" mce_href="http://jt.hapboy.xyz/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="<?php echo config('domain');?>/__CSS__/reset.css">
    <link rel="stylesheet" href="<?php echo config('domain');?>/__CSS__/common.css">
    <link rel="stylesheet" href="<?php echo config('domain');?>/__CSS__/slider.css">
    <link rel="stylesheet" href="<?php echo config('domain');?>/__CSS__/font-awesome.min.css">
    <style type="text/css">
        .left_float{
            position: absolute;
            left: 0;
            top:80px;
        }
        .right_float{
            position: absolute;
            right:0;
            top:80px;
        }
    </style>
</head>
<body>