<!-- 导航栏 -->
<header>
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <img src="{:personal()['icon']}" alt="{:personal()['alt']}">
            </a>
        </div>
        <nav>
            <ul class="nav navbar-nav navbar-link">
                <?php $request = think\Request::instance();?>
                <?php foreach(navigation() as $key=>$val){ ?>
                    <li {if condition="$request->action() == $key"}class="active"{/if}><a href="{:url($key)}">{$val}</a></li>
                <?php } ?>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-sm red" style="font-size:25px">
                {:personal()['hotline']}
            </ul>
        </nav>
    </div>
</header>